@font-face {
  font-family: "logofont";
  src: url(Cinzel-Bold.ttf) format("truetype");
}

:root {
  --web-color: #c8a97e;
}

.checkout-btn {
  background-color: var(--web-color) !important;
  border: none !important;
  transition: all ease-in-out 0.2s;
}

.checkout-btn:hover {
  background-color: transparent !important;
  color: var(--web-color) !important;
  border: 2px solid var(--web-color) !important;
}

.bag-summary-wrapper {
  border: 2px solid black;
}

/* bagitems */
.bag-item-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}
.item-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}
.bag-item-img {
  width: 100%;
  object-fit: cover;
  height: 21vh;
}
.item-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}
.remove-cart {
  position: relative;
  right: -91%;
}
.bgitem-img {
  border-radius: 10px;
}
.bag-heading {
  font-family: "logofont";
  color: var(--web-color) !important;
}
