@font-face {
  font-family: "logofont";
  src: url(Cinzel-Bold.ttf) format("truetype");
}

:root {
  --web-color: #c8a97e;
}
.special-heading h1 {
  font-family: "logofont";
  color: var(--web-color);
}

.menu-categories p {
  font-family: "logofont";
  background-color: transparent;
  color: var(--web-color);
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}
.menu-categories p:hover {
  background-color: var(--web-color);
  color: white;
}

.menuitem-img {
  width: 25%;
  object-fit: cover;
}
.menu-item-btn {
  background-color: var(--web-color);
  width: 60%;
  padding: 5px;
  color: white;
  border-radius: 10px;
  border: none;
  transition: all ease-in-out 0.3s;
}
.menu-item-btn:hover {
  background-color: transparent;
  color: var(--web-color);
  border: 2px solid var(--web-color);
}
.Price {
  color: var(--web-color);
}

.breakfast-heading {
  font-family: "logofont";
  color: var(--web-color);
}
.Lunch-heading {
  font-family: "logofont";
  color: var(--web-color);
}

.menu-active {
  background-color: var(--web-color) !important;
  color: white !important;
}

.hide-menu {
  display: none !important;
}
.men-wrapper {
  display: flex;
}
.menu-item-row-1 {
  display: flex !important;
}
.menu-heading {
  font-family: "logofont";
  color: var(--web-color);
}
.hide-menu {
  display: none !important;
}
/* for Mobile screen */
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .menu-categories p:hover {
    background-color: transparent; /* or the original background color */
    color: var(--web-color); /* or the original text color */
  }
}
