@font-face {
  font-family: "logofont";
  src: url(Cinzel-Bold.ttf) format("truetype");
}

:root {
  --web-color: #c8a97e;
}
.catering-heading {
  margin-top: 4rem;
}

.catering-heading h1 {
  font-family: "logofont";
  margin-top: 5px;

  color: var(--web-color);
}

.catering-icon {
  color: var(--web-color);
}

hr {
  width: 30%;
  border: 3px solid var(--web-color) !important;
}
