@font-face {
  font-family: "logofont";
  src: url(Cinzel-Bold.ttf) format("truetype");
}

:root {
  --web-color: #c8a97e;
}

.navbar {
  transition: all 0.2s ease-in-out;
}

.nav-item {
  color: var(--web-color);
}
.nav-link:hover {
  color: var(--web-color) !important;
}
.navbar-brand {
  font-family: "logofont";
  font-weight: bold;
  font-size: 3rem;
  color: var(--web-color) !important;
}
.navbar-brand:hover {
  color: var(--web-color);
}
.navbar-nav {
  gap: 10px;
}

.navbar-toggler {
  border: none !important;
}
.toggler-icon {
  color: var(--web-color);
}

.navbar-toggler:focus {
  border: none;
  outline: none;
  box-shadow: none !important;
}

.dark-nav {
  background-color: black;
  color: white !important;
  transition: all ease-in-out 0.5s;
}

.dark-nav .nav-link {
  color: white !important;
  transition: all ease-in-out 0.2s !important;
}
.dark-nav a:hover {
  color: var(--web-color) !important;
}
.dark-nav .navbar-brand:hover {
  color: var(--web-color) !important;
}
.dark-nav .active {
  color: var(--web-color) !important;
}
.active {
  color: var(--web-color) !important; /* Ensure consistency */
}
.book-table {
  background-color: var(--web-color) !important;
  border: none !important;
}
.book-table:hover {
  background-color: transparent !important;
  border: 1px solid var(--web-color) !important;
  color: var(--web-color) !important;
}

.black-nav {
  color: black !important;
}

/* for Mobile screen */
@media only screen and (min-width: 300px) and (max-width: 600px) {
  /* navbar */
  .navbar {
    background-color: black !important;
    padding: 0px 16px !important;
  }
  .book-table {
    margin-bottom: 1rem;
  }
  .navbar-brand {
    color: var(--web-color) !important;
  }

  .nav-link {
    color: white !important;
  }
  .nav-link:hover {
    color: var(--web-color) !important;
  }
  .book-table {
    background-color: var(--web-color) !important;
  }
  .book-table:hover {
    background-color: transparent !important;
    border: 2px solid var(--web-color) !important;
    color: var(--web-color) !important;
  }
  .active {
    color: var(--web-color) !important; /* Ensure consistency */
  }
}
/* Tablets screen */
@media only screen and (min-width: 700px) and (max-width: 912px) {
  .navbar {
    background-color: var(--web-color) !important;
    padding: 0px 16px !important;
  }
  .book-table {
    margin-bottom: 1rem;
  }
  .navbar-brand {
    color: black !important;
  }
  .active {
    color: black !important;
  }
  .nav-link {
    color: white !important;
  }
  .nav-link:hover {
    color: black !important;
  }
  .book-table {
    background-color: black !important;
  }
  .book-table:hover {
    background-color: transparent !important;
    border: 2px solid black !important;
    color: black !important;
  }
}
.book-table a {
  color: white;
  text-decoration: none;
}
