@font-face {
  font-family: "logofont";
  src: url(Cinzel-Bold.ttf) format("truetype");
}

:root {
  --web-color: #c8a97e;
}
.navbar-footer-logo {
  font-family: "logofont";
  text-decoration: none;
  color: #c8a97e;
  font-weight: bolder;
}
.dark-section {
  background-color: black !important;
}

.Footer ul {
  list-style: none;
}
.Footer-logo-icon {
  padding: 1rem;
  display: flex;
  gap: 10px;
}
.Footer-logo-icon span {
  padding: 0.5rem;
  border-radius: 50px;
  transition: all ease-in-out 0.2s;
}

.Footer-logo-icon span:hover {
  background-color: #c8a97e;
}
.address {
  color: #c8a97e;
  font-weight: bold;
}

.footer-subscribe-btn {
  background-color: var(--web-color) !important;
  border: none !important;
}
.footer-subscribe-btn:hover {
  background-color: transparent !important;
  border: 2px solid var(--web-color) !important;
  color: #c8a97e !important;
}
