@font-face {
  font-family: "logofont";
  src: url(Cinzel-Bold.ttf) format("truetype");
}

:root {
  --web-color: #c8a97e;
}
.special-heading h1 {
  font-family: "logofont";
  color: var(--web-color);
}
.special-menu-2-row {
  padding-right: 10px;
}
.special-menu {
  display: flex;
  align-items: center;
}
.special-menu-text p {
  width: 40%;
}
.special-menu-img {
  width: 40%;
}

.special-menu-btn {
  background-color: #c8a97e !important;
  border: none !important;
}
.special-menu-btn:hover {
  background-color: transparent !important;
  border: 2px solid var(--web-color) !important;
  color: #c8a97e !important;
}
.special-menu-price {
  color: var(--web-color);
}
